.purchaseContainer{
    height: 300px;
    width: 100%;
    padding-top: 90px;
}
.purchaseContainer h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    margin: 0;
    opacity: 0.9;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.summaryAmount{
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}
.summaryAmount p{
    margin: 0;
    opacity: 0.7;
}
.summaryAmount div{
    opacity: 0.9;
    display: grid;
    justify-content: flex-end;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #3063C9;
    margin: 15px 0px;
    opacity: 0.4;
}
.buttonContainer{
    margin-top: 20px;
}