.container{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 300px;
    padding-top: 50px;
}
.container img{
    height: 100px;
}
.container h2{
    font-size: 18px;
    font-family: var(--poppins);
    color: var(--blueWhite);
    margin-top: 10px;
}
.container p{
    color: var(--blueWhite);
    font-size: 16px;
    line-height: 150%;
}