.container{
    height: fit-content;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 13px;
    max-width: 250px;
    min-width: 200px;
}
.container:hover{
    animation: scaleUp 0.5s ease forwards;
}
@keyframes scaleUp {
    0%{transform: scale(1);}
    100%{transform: scale(1.02); background-color: var(--primary);}
}
.container .mainImage{
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--primary);
    border: 1px solid transparent;
}
.container h4{
    color: #fff;
    font-size: 17px;
    margin: 0;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 10px;
    opacity: 0.9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.extraTags{
    height: fit-content;
    width: 100%;
    margin-top: 15px;
    align-items: center;
}
.price{
    width: 100%;
    color: var(--orange);
    font-size: 17px;
}
.platforms{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.platforms .psImg{
    width: fit-content;
    margin: 0;
    color: #fff;
    opacity: 0.7;
    font-family: var(--play);
    letter-spacing: 1.5px;
}
.platforms .xboxImg{
    width: 20px;
    opacity: 0.5;
    color: #fff;
}
@media (max-width: 530px) {
    .container{
        padding: 0;
        border-radius: 0;
        margin-bottom: 15px;
    }
    .container .mainImage{
        height: 110px;
    }
    .extraTags{
        display: block;
    }
}