.container{
    height: 250px;
    width: 100%;
    border: 1px solid #fff;
}
.container .mainImage{
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.container h4{
    color: #fff;
    font-size: 17px;
    margin: 0;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 10px;
    opacity: 0.9;
}