.homePage{
    width: 100vw;
    background-color: #fafafa;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: #fafafa;
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.footer p{
    opacity: 0.8;
}