.container{
    overflow: hidden;
    height: 100vh;
    overflow-y: scroll;
}
.section{
    width: 850px;
    display: grid;
    grid-template-columns: 520px 1fr;
    gap: 30px;
    margin-right: auto;
    margin-left: auto;
}
.main{
    width: 100%;
}
.navigationContainer{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.tab{
    height: 50px;
    display: grid;
    grid-template-rows: 1fr 3px;
    cursor: pointer;
    border-radius: 5px;
}
.tab:hover{
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    100%{
        background-color: hsla(220, 61%, 49%, 0.062);
    }
}
.tabLine{
    height: 100%;
    width: 100%;
    background-color: var(--button);
    opacity: 0.75;
    border-radius: 2px;
}
.tabMain{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.inActive .tabLine{
    opacity: 0.3;
}
.inActive .tabMain{
    color: rgba(255, 255, 255, 0.5);
}


/* Form Contianer styles*/
.formContainer{
    width: 100%;
}
.formContainer .intro{
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 0;
}
.mainFormContainer{
    width: 100%;
    padding-top: 30px;
}
.dualInputFields{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.input{
    width: 100%;
}
.input p{
    margin: 0;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
}
.input input, .input select{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #2F446F;
    border-radius: 7px;
    background-color: #0F0D2E;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 15px;
}
.input input:focus, .input select:focus{
    outline: none;
    border: 1px solid var(--button);
}
.addresslineDiv{
    padding-top: 20px;
}
.paymentPage{
    width: 100%;
}
.paymentPage .intro{
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 0;
}
.paymentType{
    height: 60px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    cursor: pointer;
}
.paymentType:hover{
    animation: payment 0.5s ease forwards;
}
@keyframes payment {
    100%{
        background-color: var(--secondary);
    }
}
.nextContainer{
    height: 40px;
    width: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 7px;
    color: var(--orange);
}
.nextContainer p{
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
    padding-right: 7px;
}
.nextContainer:hover{
    animation: nextButton 0.5s ease forwards;
}
@keyframes nextButton {
    100%{
        background-color: var(--primary);
    }
}

/********  responsive design  ***************/
@media (max-width: 900px) {
    .section{
        display: block;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 600px) {
    .section{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
    }
    .dualInputFields{
        grid-template-columns: 1fr;
    }
}