.App {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.Mobile{
  height: 100vh;
  width: 100%;
  text-align: center;
}
.Mobile img{
  height: 500px;
}
.Mobile p{
  font-weight: 600;
  font-size: 18px;
}
:root{
  --linearPurple: linear-gradient(119.1deg, #0C0B25 0.59%, #06051A 84.57%);
}
