.App {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.Mobile{
  height: 100vh;
  width: 100%;
  text-align: center;
}
.Mobile img{
  height: 500px;
}
.Mobile p{
  font-weight: 600;
  font-size: 18px;
}
:root{
  --background: linear-gradient(119.1deg, #11102E 0.59%, #06051A 84.57%);
  --primary: #151336;
  --secondary: #1f1d47;
  --links: hsla(223, 100%, 87%, 0.5);
  --blueWhite: #BCCFFF;
  --button: #3063C9;
  --buttonHover:  #5a85da;
  --loader: #1d1b46;
}
